@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes load1 {
    0%{bottom:0;height:0}
    6.944444444%{bottom:0;height:100%}
    50%{top:0;height:100%}
    100%{top:0;height:100%}
  }
  
  @keyframes load2 {
    0%{top:0;height:0}
    6.944444444%{top:0;height:100%}
    50%{bottom:0;height:100%}
    100%{bottom:0;height:100%}
  }
  
  @keyframes load3 {
    0%{top:0;height:0}
    6.944444444%{top:0;height:100%}
    50%{bottom:0;height:100%}
    100%{bottom:0;height:100%}
  }
  
  @keyframes load4 {
    0%{top:0;height:0}
    6.944444444%{top:0;height:100%}
    50%{bottom:0;height:100%}
    100%{bottom:0;height:100%}
  }
  
  @keyframes load5 {
    0%{bottom:0;height:0}
    6.944444444%{bottom:0;height:100%}
    50%{top:0;height:100%}
    100%{top:0;height:100%}
  }
  
  @keyframes load6 {
    0%{bottom:0;height:0}
    6.944444444%{bottom:0;height:100%}
    50%{top:0;height:100%}
    100%{top:0;height:100%}
  }
  .animate-loader1{
    left: 0;
    animation: load1 3.5s ease 0.4s forwards;
  }

  .animate-loader2{
    right: 0;
    animation: load2 3.5s ease 0.6s forwards;
  }

  .animate-loader3{
    right: 0;
    animation: load3 3.5s ease 0.8s forwards;
  }
  
  .animate-loader4{
    right: 0;
    animation: load4 3.5s ease 1s forwards;
  }

  .animate-loader5{
    left: 0;
    animation: load5 3.5s ease 1.2s forwards;
  }

  .animate-loader6{
    left: 0;
    animation: load6 3.5s ease 1.4s forwards;
  }

  .rotate-60 {
    transform: rotate(60deg);
  }
  
  .-rotate-60 {
    transform: rotate(-60deg);
  }
}

:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --background: 207 95% 8%;
  --foreground: 201 83% 81%;
  --muted: 207 12% 15%;
  --muted-foreground: 207 12% 65%;
  --popover: 207 95% 5%;
  --popover-foreground: 201 83% 91%;
  --card: 207 95% 6%;
  --card-foreground: 201 83% 86%;
  --border: 207 85% 13%;
  --input: 207 85% 16%;
  --primary: 205 85% 78%;
  --primary-foreground: 205 85% 18%;
  --secondary: 205 30% 25%;
  --secondary-foreground: 205 30% 85%;
  --accent: 207 95% 23%;
  --accent-foreground: 207 95% 83%;
  --destructive: 8 91% 59%;
  --destructive-foreground: 0 0% 100%;
  --ring: 205 85% 78%;
}

body {
  color: hsl(var(--muted-foreground));
  background: hsl(var(--background));
}
